<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>일정 추가</title>
<script>
</script>
</head>
<body>
	<article class="container">
		<div class="page-header">
			<h1>일정 추가</h1>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<table class="form-group">
				<div class="form-group">
					<label for="InputBirth">일정</label>
					<input type="text" class="form-control" id="title" placeholder="내용" />
				</div>
				<div class="form-group">
					<label for="InputBirth">날짜(YYYY.MM.DD)</label> 
					<input type="text" class="form-control" id="date" placeholder="날짜" />
				</div>
			</table>
		</div>
	</article>
</body>
</html>