<!-- <script type="text/javascript">
	$(document).ready(function() {
		$("#allCheck").change(function() {
			if (this.checked) {
				$(".check").prop("checked", true);
			} else {
				$(".check").prop("checked", false);
			}
		});

		$("#checkForm").submit(function() {
			if ($(".check").filter(":checked").size() == 0) {
				alert("회원을 한 명도 선택하지 않았습니다.");
				return false;
			}
		});
	});

	function changeUserLevel(id, level) {
		location.href = 'adminChangeUserLevel.jsp?id=' + id + "&level=" + level;
	}
</script>
 -->

<div style="align: center">
	<!-- <form action="adminMemberRemove.jsp" method="post" id="checkForm"> -->
	<table align="center" cellspacing="0" width="1300" class="t2"
		height="100" frame=void>
		<!-- <tr bgcolor="#85A0F2"> -->
		<hr color="#7B7EDD" width=90%>

		<th>소 속/학 과 : <select ng-model="classManage.obj.selectMajor"
			ng-options="obj.name for obj in majorList">
				<!-- <option value="">-소속/학과-</option> -->

				<!-- <option>선택</option>
					<option>--------------------------</option>

					<option>인문예술대학/국어국문학과</option>
					<option>인문예술대학/중어중문학과</option>
					<option>인문예술대학/유럽문화 관광학과</option>
					<option>인문예술대학/한문학과</option>
					<option>인문예술대학/민속학과</option>
					<option>인문예술대학/동양철학과</option>
					<option>인문예술대학/사학과</option>
					<option>인문예술대학/의류학과</option>
					<option>인문예술대학/음악과</option>
					<option>인문예술대학/미술학과</option>

					<option>사회과학대학/경재무역학부/경제학전공</option>
					<option>사회과학대학/경재무역학부/무역학전공</option>
					<option>사회과학대학/경영회계학부/경영학전공</option>
					<option>사회과학대학/경영회계학부/회계학전공</option>
					<option>사회과학대학/법학과</option>
					<option>사회과학대학/행정학과</option>
					<option>사회과학대학/생활복지학과</option>

					<option>사범대학/국어교육과</option>
					<option>사범대학/윤리교육과</option>
					<option>사범대학/영어교육과</option>
					<option>사범대학/교육교육과</option>
					<option>사범대학/수학교육과</option>
					<option>사범대학/컴퓨터교육과</option>
					<option>사범대학/전자공학교육과</option>
					<option>사범대학/기계교육과</option>

					<option>자연과학대학/물리학과</option>
					<option>자연과학대학/응용화학과</option>
					<option>자연과학대학/지구환경과학과</option>
					<option>자연과학대학/정보통계학과</option>
					<option>자연과학대학/체육학과</option>

					<option>생명과학대학/생명공학부/생명과학전공</option>
					<option>생명과학대학/생명공학부/생명백신공학전공</option>
					<option>생명과학대학/원예 생양융합학부</option>
					<option>생명과학대학/식품생명공학과</option>
					<option>생명과학대학/식품영양학과</option>
					<option>생명과학대학/식물의학과</option>
					<option>생명과학대학/간호학과</option>

					<option>공과대학/신소재공학부/응용신소재공학전공</option>
					<option>공과대학/신소재공학부/금속신소재공학전공</option>
					<option>공과대학/멀티미디어공학과</option>
					<option>공과대학/건축공학과</option>
					<option>공과대학/기계공학과</option>
					<option>공과대학/기계로봇공학과</option>
					<option>공과대학/정보통신공학과</option>
					<option>공과대학/토목공학과</option>
					<option>공과대학/기계자동차공학과</option>
					<option>공과대학/전자공학과</option>
					<option>공과대학/컴퓨터공학과</option>
					<option>공과대학/컴퓨터공학과</option>

					<option>창의융합학부/창의융합학부</option> -->

		</select></th>
		<th>교수: <input type="text"
			ng-model="classManage.obj.searchProName"></th>
		<th>과목 : <input type="text"
			ng-model="classManage.obj.searchSubject"></th>

		<th width="100"><input type='button' value='초기화'
			class="btn btn-info" onClick = "window.location.reload()" /></th>
		<th width="100"><input type='button' value='검색'
			class="btn btn-info" ng-click="classManage.func.getClassList()" /></th>
	</table>
	<!-- 	</form>
	<form action='login_page.php'></form> -->
	<hr color="#7B7EDD" width=90%>
</div>
<br>
<br>
<center>
	<!-- <form action="adminMemberRemove.jsp" method="post" id="checkForm"> -->
	<table
		style="cellspacing: 0; width: 1300; class: t2; margin: auto; text-align: center; height: 100;">
		<thead>
			<tr bgcolor="#85A0F2">
				<th width="80"><input type="checkbox" id="allCheck"></th>
				<th width="200" align="center" style="color: white">소속/학과</th>
				<th width="130" align="center" style="color: white">과목</th>
				<!-- <th width="100" align="center" style="color: white">과목코드</th> -->
				<th width="100" align="center" style="color: white">학점</th>
				<th width="100" align="center" style="color: white">담당교수</th>
				<th width="100" align="center" style="color: white">강의시간</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="obj in  classManage.obj.classList track by $index">
				<td width="80" align="center"><input type="checkbox" name="checkId" 
					ng-click="classManage.func.checkValue(obj.ccode)" class="check"></td>
				<td width="200" align="center">{{obj.belname}}/{{obj.depname}}</td>
				<td width="130" align="center">{{obj.cname}}</td>
				<!-- <td width="100" align="center">{{obj.ccode}}</td> -->
				<td width="100" align="center">{{obj.scr}}</td>
				<td width="100" align="center">{{obj.prof}}</td>
				<td width="100" align="center">{{obj.ctime}}</td>
			</tr>
		</tbody>
	</table>
	<table align="right">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<button type="button" class="btn btn-info" id="class-dialog">
					추가<i class="fa fa-check spaceLeft"></i>
				</button>
				<button type="button" class="btn btn-warning">
					수정<i class="fa fa-times spaceLeft"></i>
				</button>
				<button type="button" class="btn btn-warning" ng-click="classManage.func.deleteClass()">
					삭제<i class="fa fa-times spaceLeft"></i>
				</button>

			</td>
		</tr>
	</table>
	<!-- </form> -->
</center>
