@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: gulim, sans-serif;
	font-size: 110%;
	text-align: center;
}

.a2 {
	font-size: 20px;
	text-decoration: none;
	color: #5c5c5c;
}

.list_over {
	background-color: #F3F7FD;
}

.list_out {
	background-color: #FFFFFF;
}

.list_over2 {
	background-color: #e5e5e5;
}

a {
	text-decoration: none;
	color: #5c5c5c;
}

#today {
	background-color: #CCCCCC;
	color: #000000;
}

.base {
	border: 1px solid #8e8e8e;
}

.sun {
	border: 1px solid #8e8e8e;
	color: #FF0000;
}

tr {
	height: 11%;
}

a:hover {
	text-decoration: underline;
	color: #5c5c5c;
}

.dot {style;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: rgb(71, 71, 71);
	border-right-color: rgb(71, 71, 71);
	border-bottom-color: rgb(71, 71, 71);
	border-left-color: rgb(71, 71, 71);
	background-color: rgb(232, 232, 232);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	p style: margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

table {
	border-collapse: collapse;
	border-cellpadding: cellpadding;
	height: 100%;
	width: 100%;
	align: center;
	border: 0;
}