<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수업추가</title>

</head>
<body>
<br>
<br>
<br>
<div style="width:100%;height:100%;overflow-y:auto;">
	<article class="container">
		<div class="page-header">
			<h1>강의 {{titleName}}</h1>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group" >
				<label for="InputMajor">소속/학과</label>
				<select class="form-control" ng-model="classAddMod.obj.searchMajor" 
					ng-options="obj.name for obj in majorList">
				</select>
			</div>

			<div class="form-group">
				<label for="username">강의명</label>
				<input ng-model="classAddMod.obj.classCName" type="text" class="form-control" placeholder="강의명을 입력해 주세요." id="name" name = "NAME">
			</div>

			<div class="form-group">
				<label for="username">강의코드</label>
				<input ng-model="classAddMod.obj.classCCode" type="text" class="form-control" placeholder="강의 코드를 입력해 주세요." id="ccode" name = "CCODE">
			</div>

			<div class="form-group">
				<label for="username">담당 교수</label>
				<input ng-model="classAddMod.obj.classProf" type="text" class="form-control" placeholder="담당 교수명을 입력해 주세요." id="prof" name = "PROF">
			</div>

			<div class="form-group">
				<label for="username">학점</label>
				<input ng-model="classAddMod.obj.classScore" type="text" class="form-control" placeholder="학점을 입력해 주세요." id="score" name = "SCORE">
				<p class="help-block">※ 숫자로만 입력해 주세요.</p>
			</div>

			<div class="form-group">
				<label for="username">강의 시간</label>
				<input ng-model="classAddMod.obj.classCTime" type="text" class="form-control" placeholder="강의 시간을 입력해 주세요." id=time name = "TIME">
				<p class="help-block">1교시 = 9:00, 2교시 = 10:00, 3교시 = 11:00, ... , 10교시  = 18:00 <br>
				=> 월 [1][2][3] </p>
			</div>

			<div class="form-group">
				<label for="username">강의실</label>
				<input ng-model="classAddMod.obj.classRCode" type="text" class="form-control" placeholder="강의실을 입력해 주세요." id="rcode" name = "RCODE">
			</div>

			<div class="form-group text-center">
				<button type="submit" class="btn btn-info" ng-click="classAddMod.func.add()">
					{{titleName}}<i class="fa fa-check spaceLeft"></i>
				</button>
				<button type="submit" class="btn btn-info" ng-click="classAddMod.func.cancel()">
					취소<i class="fa fa-check spaceLeft"></i>
				</button>
			</div>
		</div>
	</article>
</div>
</body>
</html>