<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원등록</title>

</head>
<body>
	<article class="container">
		<div class="page-header">
			<h1>회원 등록</h1>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<table class="form-group">
				<label for="InputId">학번/사번</label>

				<td><input type="text" class="form-control"
					placeholder="학번/사번" id="num" name="NUM" required></td>
				<td class="check_font" id="id_check"></td>
			</table>

			<div class="form-group">
				<label for="InputAuthor">구분</label> <select class="form-control" name = "AUTH">
					<option>선택</option>
					<option>학생</option>
					<option>교수</option>
				</select>
			</div>

			<div class="form-group">
				<label for="InputBirth">생년월일</label> <input type="text"
					class="form-control" id="birth" name = "BIRTH" placeholder="생년월일">
				<p class="help-block">ex.ㅇㅇㅇㅇ-ㅇㅇ-ㅇㅇ</p>
			</div>

			<div class="form-group">
				<label for="username">이름</label> <input type="text"
					class="form-control" id="name" name = "NAME" placeholder="이름을 입력해 주세요">
			</div>

			<div class="form-group">
				<label for="InputNumber">전화 번호</label> <input type="text"
					class="form-control" name = "PHONE" id="phone" placeholder="전화 번호를 입력해 주세요">
				<p class="help-block">'-' 없이 입력해 주세요.</p>
			</div>

			<div class="form-group">
				<label for="InputAdress">주소</label>
				<table>
					<tr>
						<td><input type="text" name="zip" class="form-control" placeholder="우편번호" readonly></td>
						<td><button type="button" class="btn btn-info"
								onclick="execPostCode()">검색</button></td>
					</tr>
				</table>
				<br> <input type="text" name="ADDRESS" class="form-control" placeholder="주소"
					readonly /> <br> 
					<input type="text" name="addr2" placeholder="상세주소"
					class="form-control" />


				<div class="form-group">
					<label for="InputAuthor">소속/학과</label> <select class="form-control">
						<option>선택</option>

						<option>인문예술대학/국어국문학과</option>
						<option>인문예술대학/중어중문학과</option>
						<option>인문예술대학/유럽문화 관광학과</option>
						<option>인문예술대학/한문학과</option>
						<option>인문예술대학/민속학과</option>
						<option>인문예술대학/동양철학과</option>
						<option>인문예술대학/사학과</option>
						<option>인문예술대학/의류학과</option>
						<option>인문예술대학/음악과</option>
						<option>인문예술대학/미술학과</option>

						<option>사회과학대학/경재무역학부/경제학전공</option>
						<option>사회과학대학/경재무역학부/무역학전공</option>
						<option>사회과학대학/경영회계학부/경영학전공</option>
						<option>사회과학대학/경영회계학부/회계학전공</option>
						<option>사회과학대학/법학과</option>
						<option>사회과학대학/행정학과</option>
						<option>사회과학대학/생활복지학과</option>

						<option>사범대학/국어교육과</option>
						<option>사범대학/윤리교육과</option>
						<option>사범대학/영어교육과</option>
						<option>사범대학/교육교육과</option>
						<option>사범대학/수학교육과</option>
						<option>사범대학/컴퓨터교육과</option>
						<option>사범대학/전자공학교육과</option>
						<option>사범대학/기계교육과</option>

						<option>자연과학대학/물리학과</option>
						<option>자연과학대학/응용화학과</option>
						<option>자연과학대학/지구환경과학과</option>
						<option>자연과학대학/정보통계학과</option>
						<option>자연과학대학/체육학과</option>

						<option>생명과학대학/생명공학부/생명과학전공</option>
						<option>생명과학대학/생명공학부/생명백신공학전공</option>
						<option>생명과학대학/원예 생양융합학부</option>
						<option>생명과학대학/식품생명공학과</option>
						<option>생명과학대학/식품영양학과</option>
						<option>생명과학대학/식물의학과</option>
						<option>생명과학대학/간호학과</option>

						<option>공과대학/신소재공학부/응용신소재공학전공</option>
						<option>공과대학/신소재공학부/금속신소재공학전공</option>
						<option>공과대학/멀티미디어공학과</option>
						<option>공과대학/건축공학과</option>
						<option>공과대학/기계공학과</option>
						<option>공과대학/기계로봇공학과</option>
						<option>공과대학/정보통신공학과</option>
						<option>공과대학/토목공학과</option>
						<option>공과대학/기계자동차공학과</option>
						<option>공과대학/전자공학과</option>
						<option>공과대학/컴퓨터공학과</option>
						<option>공과대학/환경공학과</option>
						
						<option>창의융합학부/창의융합학부</option>
					</select>
				</div>

				<div class="form-group">
					<label for="InputBirth">파일첨부</label> <input type="file"
						id="ex_file" class="form-control">
				</div>


				<div class="form-group text-center">
					<button type="submit" class="btn btn-info" ng-click="memberManage.func.getresult()">
						회원등록<i class="fa fa-check spaceLeft"></i>
					</button>
				</div>
			</div>
	</article>
	
	
</body>
</html>