<!DOCTYPE html>
<html lang="ko">
<body>
<!--  div ng-controller="memberAddCtrl">-->
<div style="width:100%;height:100%;overflow-y:auto;">
	<article class="container">
		<div class="page-header">
			<h1>회원 {{titleName}}</h1>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for="InputAuthor">소속/학과</label>
				<select class="form-control" ng-model="memberAddMod.obj.searchMajor" 
					ng-options="obj.name for obj in majorList">
				</select>
			</div>

			<div class="form-group">
				<label for="username">이름</label>
				<input ng-model="memberAddMod.obj.memberName" type="text" class="form-control" placeholder="이름을 입력해 주세요" id="name" name = "NAME">
			</div>
			
			<div class="form-group">
				<label for="InputId">학번/사번</label>
				<input ng-model="memberAddMod.obj.memberNum" type="text" class="form-control" placeholder="학번/사번" id="num" name="NUM" ></td>
			</div>
			
			<div class="form-group">
				<label for="InputId">비밀번호</label>
				<input ng-model="memberAddMod.obj.memberPw" type="text" class="form-control" placeholder="학번/사번" id="pw" name="PW" ></td>
			</div>

			<div class="form-group">
				<label for="InputAuthor">구분</label>
				<select class="form-control" ng-model="memberAddMod.obj.searchAuthor" 
					ng-options="obj.name for obj in authorList">
				</select>
			</div>

			<div class="form-group">
				<label for="InputBirth">생년월일</label>
				<input ng-model="memberAddMod.obj.memberBirth" type="text" class="form-control" placeholder="생년월일" id="birth" name = "BIRTH">
				<p class="help-block">ex.yyyy.mm.dd</p>
			</div>

			<div class="form-group">
				<label for="InputNumber">전화 번호</label>
				<input ng-model="memberAddMod.obj.memberPhone" type="text" class="form-control" name = "PHONE" id="phone" placeholder="전화 번호를 입력해 주세요.">
				<p class="help-block">'-' 없이 입력해 주세요.</p>
			</div>

			<div class="form-group">
				<label for="InputNumber">이메일</label>
				<input ng-model="memberAddMod.obj.memberEmail" type="text" class="form-control" name = "EMAIL" id="email" placeholder="전화 번호를 입력해 주세요.">
			</div>

			<div class="form-group">
				<label for="InputAddress">주소</label>
				<input ng-model="memberAddMod.obj.memberAddr" type="text" class="form-control" placeholder="주소를 입력해 주세요." name = "ADDRESS" id="address">
				<p class="help-block">ex. 경상북도 구미시</p>
			</div>

			<div class="form-group">
				<label for="InputBirth">파일첨부</label>
				<input type="file" id="ex_file" class="form-control">
			</div>


			<div class="form-group text-center">
				<button type="submit" class="btn btn-info" ng-click="memberAddMod.func.add()">
					{{titleName}}<i class="fa fa-check spaceLeft"></i>
				</button>
				<button type="submit" class="btn btn-info" ng-click="memberAddMod.func.cancel()">
					취소<i class="fa fa-check spaceLeft"></i>
				</button>
			</div>
		</div>
	</article>
	</div>
</body>
</html>