<div style="align: center">
	<form action="adminMemberRemove.jsp" method="post" id="checkForm">
		<hr color="#7B7EDD" width=90%>
		<table align="center" cellspacing="0" width="1300" class="t2"
			height="100" frame=void>
			<!-- <tr bgcolor="#85A0F2"> -->
			<th>조회기간: <input type="text" id="datepicker1"> ~ <input
				type="text" id="datepicker2">
			</th>
			<th>제목: <input type="text"></th>
			<th>작성자 : <input type="text"></th>
			<th width="100"><input type='button' value='검색'
				class="btn btn-info" /></th>
		</table>
		<hr color="#7B7EDD" width=90%>
	</form>
	<form action='login_page.php'></form>
</div>
<br>
<br>
<!-- <form action="adminMemberRemove.jsp" method="post" id="checkForm"> -->
<table
	style="cellspacing: 0; width: 1300; margin: auto; text-align: center; height: 100;"
	class="t2">
	<thead>
		<tr bgcolor="#85A0F2">
			<th width="80"><input type="checkbox" id="chkAll"></th>
			<th width="50" style="color: white">번호</th>
			<th width="300" style="color: white">제목</th>
			<th width="100" style="color: white">작성자</th>
			<th width="100" style="color: white">작성일</th>
			<th width="100" style="color: white">조회수</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="obj in  noticeManage.obj.noticeList track by $index">
			<td width="80" align="center"><input type="checkbox"></td>
			<td width="50" align="center">{{obj.pnum}}</td>
			<td width="300" align="center">{{obj.title}}</td>
			<td width="100" align="center">{{obj.wrt}}</td>
			<td width="100" align="center">{{obj.wdate}}</td>
			<td width="100" align="center">{{obj.view}}</td>


		</tr>
	</tbody>
</table>
<table align="right">
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<button type="button" class="btn btn-info" id="notice-dialog">
				글쓰기<i class="fa fa-check spaceLeft"></i>
			</button>
		</td>
	</tr>
</table>
<!-- </form> -->